<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
          <h2 class="main-title">Campsites</h2>
            <% @campsites.each do |campsite| %>
              <%= link_to campsite.name, public_campsite_path(campsite) %>

              <% if user_signed_in? %>
              <%# いいね機能 非同期 %>
                <span class=<%= "like-" + campsite.id.to_s %>>
                  <%= render partial: "favorite", locals: { campsite: campsite } %>
                </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>