<% @campsites.each do |campsite| %>
  <%= link_to campsite.name, public_campsite_path(campsite) %>

  <% if user_signed_in? %>
  <%# いいね機能 非同期 %>
    <span class=<%= "like-" + campsite.id.to_s %>>
      <%= render partial: "favorite", locals: { campsite: campsite } %>
    </span>
  <% end %>
<% end %>