<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
          <% @campsites.each do |campsite| %>
            <%= link_to campsite.name, public_campsite_path(campsite) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>