// Place all the styles related to the public::campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.area {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}

// 左側のサイドバー
.sidebar {
  width: 25%;
  background-color: #005537;
  font-family: "きんいろサンセリフ", sans-serif;
  color: white;

  .sidebar-item {
    margin-bottom: 20px;
  }

  .sidebar-item-fixed {
    position: sticky;
    margin-bottom: 0;
    top: 10px;
    z-index: 1;

    .link {
      text-decoration: none;
      color: white;
    }
  }

  .sidebar-logo-field {
    width: 80%;
    margin: 0 auto;
  }

  .sidebar-logo {
    position: relative;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: image-url("login-image.png");

    .sidebar-title {
      position: absolute;
      top: 44%;
      left: 20%;
      font-size: 250%;
      text-decoration: none;
      color: white;
    }
  }

  .sidebar-item-field {
    text-align: center;
    font-size: 200%;
  }
}

// 右側のメインコンテンツ
.main {
  display: block;
  width: 75%;
  margin-left: 20px;
}