// Place all the styles related to the public::campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campsites-top-link {
  text-decoration: none;
  font-family: "きんいろサンセリフ", sans-serif;
  font-size: 20px;
  color: black;
}

.campsites-top-link:hover {
  text-decoration: none;
  color: black;
}

.main-imagecolor {
  border-bottom: 3px dotted #8a8a8a;
}

.campsites-search-area {
  text-align: center;

  .campsites-search-field {
    width: 50%;
    text-align: center;
    font-family: "きんいろサンセリフ", sans-serif;
  }

  .campsites-search-btn {
    width: 10%;
    font-family: "きんいろサンセリフ", sans-serif;
  }
}

.public_campsites_path-field {
  margin-left: 90%;
  font-family: "きんいろサンセリフ", sans-serif;
}

// キャンプ詳細画面
.campsite-image {
  text-align: center;
  margin-top: 5%;

  .campsite-image-circle {
    border-radius: 5%;
  }
}

.campsite-table {
  margin: 5% auto 0 auto;
  font-size: 200%;
  font-family: "きんいろサンセリフ", sans-serif;

  th {
    width: 25%;
  }
}

.campsite-link-while {
  margin-bottom: 20px;
}

.public_campsite_comment-link {
  margin-left: 360px;
  margin-bottom: 30px;
  padding: 10px 110px;
  font-size: 30px;
  text-align: center;
  border-radius: 10%;
  background-color: yellowgreen;
  color: black;
  font-family: "きんいろサンセリフ", sans-serif;
}

.public_campsite_comment-link:hover {
  color: white;
  text-decoration: none;
}

.link-field {
  width: 30%;
  margin: 1% auto 0 auto;
  text-align: center;
  border-radius: 10%;
  background-color: yellowgreen;
}

.public_campsite_recruitments-link {
  margin-left: 360px;
  padding: 10px 60px;
  font-size: 30px;
  text-align: center;
  border-radius: 10%;
  background-color: yellowgreen;
  color: black;
  font-family: "きんいろサンセリフ", sans-serif;
}

.public_campsite_recruitments-link:hover {
  text-decoration: none;
  color: white;
}

.link-field:hover {
  text-align: center;
  background-color: yellowgreen;

  .link {
    color: white;
  }
}

.link {
  text-decoration: none;
  font-family: "きんいろサンセリフ", sans-serif;
  font-size: 30px;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: yellowgreen;
}

.image-favorite {
  position: relative;
}

.image-favorite-content {
  position: absolute;
  right: 2%;
  font-size: 200%;
}

.campsite-link-map {
  padding-bottom: 3%;
}

.favorites-count {
  color: rgba(248, 98, 98, 0.849);
}

/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  // campsites index キャンプ場検索ボタン
  .campsites-search-area {
    .campsites-search-btn {
      width: 20%;
    }
  }

  .campsites-attachment_image_tag {
    width: 100%;
  }

  // campsitie show キャンプ場の画像
  .campsite-image .campsite-image-circle {
    width: 250px;
    height: 200px;
  }

  // campsitie show キャンプ場の説明文
  .campsite-table {
    th {
      font-size: 50%;
    }
    td {
      font-size: 50%;
    }
  }

  // campsitie show 口コミする!ボタン
  .public_campsite_comment-link {
    margin-left: 60px;
    margin-bottom: 0px;
    padding: 10px 30px;
  }

  // campsites show キャンプ募集/参加するボタン
  .public_campsite_recruitments-link {
    padding: 10px 30px;
    margin-left: 10px;
  }

  // campsites show 口コミする キャンプ募集/参加する フォームサイズ変更
  .link-field {
    width: 80%;
  }
}