// Place all the styles related to the public::campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.campsites-top-link {
  text-decoration: none;
  font-family: "きんいろサンセリフ", sans-serif;
  font-size: 20px;
  color: black;
}

.campsites-top-link:hover {
  text-decoration: none;
  color: black;
}

.main-imagecolor {
  border-bottom: 3px dotted #8a8a8a;
}

.campsites-search-area {
  text-align: center;

  .campsites-search-field {
    width: 50%;
    text-align: center;
    font-family: "きんいろサンセリフ", sans-serif;
  }

  .campsites-search-btn {
    width: 10%;
    font-family: "きんいろサンセリフ", sans-serif;
  }
}

.public_campsites_path-field {
  margin-left: 90%;
  font-family: "きんいろサンセリフ", sans-serif;
}

// キャンプ詳細画面
.campsite-image {
  text-align: center;
  margin-top: 5%;

  .campsite-image-circle {
    border-radius: 5%;
  }
}

.campsite-table {
  margin: 5% auto 0 auto;
  font-size: 200%;
  font-family: "きんいろサンセリフ", sans-serif;

  th {
    width: 20%;
  }
}

.link-field {
  width: 30%;
  margin: 1% auto 0 auto;
  text-align: center;
  border-radius: 10%;
  background-color: yellowgreen;
}

.link-field:hover {
  text-align: center;
  background-color: yellowgreen;

  .link {
    color: white;
  }
}

.link {
  text-decoration: none;
  font-family: "きんいろサンセリフ", sans-serif;
  font-size: 30px;
  color: black;
}

.link:hover {
  text-decoration: none;
  color: yellowgreen;
}

.image-favorite {
  position: relative;
}

.image-favorite-content {
  position: absolute;
  right: 2%;
  font-size: 200%;
}

.campsite-link-map {
  padding-bottom: 3%;
}