// Place all the styles related to the public::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-title {
  padding: 4% 0;
  text-align: center;
  font-size: 650%;
  font-family: "きんいろサンセリフ", sans-serif;
  border-bottom: 3px dotted #8a8a8a;
}