<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
          <h2 class="main-title"><%= @campsite.name %></h2>

          <div class="comments-table">
            <%# コメント表示機能 非同期 %>
            <div class="comments">
              <%= render partial: "comments", locals: {comments: @comments} %>
            </div>

            <%# コメント投稿機能 非同期 %>
            <div class="commentform">
              <%= render partial: "commentform", locals: {comment: @comment} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>