<div class="top-image">
  <h1 class="top-title">Enjoy CAMP!</h1>
  <h2 class="top-subtitle">CAMPをもっと楽しく、便利に。</h2>
  <p class="top-sinup"><%= link_to "Sign up", new_user_registration_path, class: "link" %></p>
  <p class="top-login"><%= link_to "Login", new_user_session_path, class: "link" %></p>
  <p class="top-guestlogin"><%= link_to "かんたんログイン", root_path, class: "link" %></p>
</div>