<div class="container-fluid">
  <div class="row">
    <div class="area">
      <%# サイドバー %>
      <%= render partial: "layouts/sidebar" %>

      <%# メインコンテンツ %>
      <div class="main">
        <div class="main-imagecolor-opacity">
                <h2 class="mypage-title">My page</h2>
          <%= @user.name %>のマイページ
          <%= link_to 'ユーザー編集', edit_public_user_path(@user) %>
          <% @recruitments.each do |recruitment| %>
            <%= recruitment.campsite.name %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>